<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head/head.ejs');%>
    <%- include('../head/header.ejs');%>
</head>

<body>
        <%- include('../basket/basket_detail.ejs');%>
</body>

<footer>
        <%- include('../footer/footer.ejs');%>
</footer>

</html>

<!-- 메인화면 -->