<form class="form-img" method="POST" action="/product/product_insert" enctype="multipart/form-data">
    <div style="margin-left:25%; margin-top:3%; margin-bottom:3%">
        <h3 style="margin-bottom: 3%">상품 등록</h3>
        <h5 style="float:left; margin-right: 5%; width: 150px;">상품명 </h5> <input type="text" name="product_name" class="form-control" style="width:40%; margin-bottom: 2%"/>
        <h5 style="float:left; margin-right: 5%; width: 150px;">가격 </h5> <input type="text" name="price" class="form-control" style="width:40%; margin-bottom: 2%"/>
        <h5 style="float:left; margin-right: 5%; width: 150px;">재고량 </h5> <input type="text" name="product_amount" class="form-control" style="width:40%; margin-bottom: 2%"/>
        <h5 style="float:left; margin-right: 5%; width: 150px;">상품 이미지 </h5> <input type="file" name="fileupload" multiple id="fileupload" class="form-control" style="width:40%; margin-bottom: 2%"/>
        <h5 style="float:left; margin-right: 5%; width: 150px;">카테고리 </h5> 
        


        <select name="category" class="custom-select d-block" id="country" style="width:40%; margin-bottom:3%" required>
            <option value="">카테고리를 고르세요...</option>
            <%for (let i = 0; i < category.length; i++) {%>
                <option value="<%=category[i].category_name%>"><%=category[i].category_name%> </option>
            <%}%>
        </select>





        <h5 style="float:left; margin-right: 5%; width: 150px;">상품 상세내용 </h5> <input type="text" name="product_info" class="form-control" style="width:40%; height: 150px; margin-bottom: 2%"/>
        <input class="btn blue1" type="submit" style="width: 58%" value="완료"/>
    </div>
</form>