<footer class="py-5 navbar-fixed-bottom" style="background-color: rgb(163,174,176); color:white;">
        <p class="m-0 text-center text-white">회사 주소 : 부산광역시 사상구 주례로 | 회사 번호 : 010 - 7644 - 9226</p>
        <p class="m-0 text-center text-white">이메일 : hya2014@naver.com | 사업자등록번호 : 20171626 | 상담 번호 : 051 - 320 - 1777</p>
</footer>