<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head/head.ejs');%>
    <%- include('../head/header.ejs');%>
</head>

<body>
        <div class="row">
            <%- include('../mypage/client_mypage_detail.ejs');%>
        </div>
</body>

<footer>
        <%- include('../footer/footer.ejs');%>
</footer>

</html>