<form class="form-img" method="post" action="/upload" enctype="multipart/form-data">
    <input type='file' id="imgInp" class="form-control-file" id="fileupload" name="fileupload">
    <button type="submit"> 올리기 </button>
</form>